{% extends '@EasyAdmin/page/content.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    {% for css in tabAssets.stylesheets %}
        <link rel="stylesheet" href="{{ template_asset(css) }}">
    {% endfor %}
{% endblock %}

{% block title %}
    | {{ serverData.pterodactylServer.name ?? 'pteroca.server.title'|trans }} #{{ server.pterodactylServerIdentifier }}
{% endblock %}

{% block content_title %}{% endblock %}

{% block page_actions %}{% endblock %}

{% block content_header_wrapper %}{% endblock %}

{% block main %}
    <div class="mt-4">
        <!-- Header Section -->
        <div class="row">
            <div class="col-12">
                <div class="dashboard-header rounded-3 p-4 mb-4">
                    <div class="d-flex align-items-center">
                        <div class="bg-primary rounded-circle me-3">
                            <i class="fas fa-server p-3 text-white"></i>
                        </div>
                        <div>
                            <h4 class="mb-1 fw-bold">{{ serverData.pterodactylServer.name ?? 'pteroca.server.title'|trans }} #{{ server.pterodactylServerIdentifier }}</h4>
                            {% if serverData.pterodactylServer.description is defined and serverData.pterodactylServer.description %}
                                <p class="text-muted mb-0">{{ serverData.pterodactylServer.description }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if isAdminView and app.user.email != server.user.email %}
        <div class="container">
            <div class="alert alert-warning" role="alert">
                <i class="fas fa-exclamation-triangle"></i>
                {{ 'pteroca.server.admin_view_warning'|trans }}
            </div>
        </div>
    {% endif %}
    {% if server.isSuspended %}
        <div class="container">
            <div class="alert alert-danger" role="alert">
                <i class="fas fa-exclamation-triangle"></i>
                {% if server.expiresAt|date("Y-m-d H:i:s") < "now"|date("Y-m-d H:i:s") %}
                    {{ 'pteroca.server.suspended_expired_hint'|trans({ '{{ expireDate }}': server.expiresAt|date("Y-m-d H:i") }) }}
                {% else %}
                    {{ 'pteroca.server.suspended_hint'|trans }}
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if serverData.isInstalling %}
        {% include 'panel/server/server_installing.html.twig' %}
    {% elseif serverData.isSuspended %}
        {% include 'panel/server/server_suspended.html.twig' %}
    {% else %}
        <div class="p-2">
            {% include 'panel/server/tabs/navigation.html.twig' %}
            <div class="tab-content">
                {% for tab in visibleTabs %}
                    {% include tab.template %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script>
        function sendRequest(endpointUrl, method = 'GET', data = null) {
            let requestObject = {
                method: method,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            }

            if (data) {
                requestObject.headers['Content-Type'] = 'application/json'
                requestObject.body = JSON.stringify(data)
            }

            return fetch(endpointUrl, requestObject)
        }
    </script>
    {% for js in tabAssets.javascripts %}
        <script src="{{ template_asset(js) }}"></script>
    {% endfor %}
{% endblock %}
