{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}
    | {{ serverData.pterodactylServer.name ?? 'pteroca.server.title'|trans }} #{{ server.pterodactylServerIdentifier }}
{% endblock %}

{% block content_title %}
    {{ serverData.pterodactylServer.name ?? 'pteroca.server.title'|trans }} #{{ server.pterodactylServerIdentifier }}
{% endblock %}

{% block page_actions %}
    <a class="btn btn-secondary" href="{{ path('panel') }}">
        {{ 'pteroca.system.back'|trans }}
    </a>
{% endblock %}

{% block main %}
    {% if isAdminView and app.user.email != server.user.email %}
        <div class="container mt-4 mb-4">
            <div class="alert alert-warning" role="alert">
                <i class="fas fa-exclamation-triangle"></i>
                {{ 'pteroca.server.admin_view_warning'|trans }}
            </div>
        </div>
    {% endif %}
    {% if server.isSuspended %}
        <div class="container mt-4 mb-4">
            <div class="alert alert-danger" role="alert">
                <i class="fas fa-exclamation-triangle"></i>
                {% if server.expiresAt|date("Y-m-d H:i:s") < "now"|date("Y-m-d H:i:s") %}
                    {{ 'pteroca.server.suspended_expired_hint'|trans({ '{{ expireDate }}': server.expiresAt|date("Y-m-d H:i") }) }}
                {% else %}
                    {{ 'pteroca.server.suspended_hint'|trans }}
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if serverData.isInstalling %}
        {% include 'panel/server/server_installing.html.twig' %}
    {% elseif serverData.isSuspended %}
        {% include 'panel/server/server_suspended.html.twig' %}
    {% else %}
        <div class="container mt-4">
            {% include 'panel/server/tabs/navigation.html.twig' %}
            <div class="tab-content">
                {% include 'panel/server/tabs/console/console.html.twig' %}
                {% if (serverData.hasConfigurableOptions or serverData.hasConfigurableVariables) and hasServerPermission(serverData.serverPermissions, 'startup.read') %}
                    {% include 'panel/server/tabs/startup/startup.html.twig' %}
                {% endif %}
                {% if server.serverProduct.dbCount and hasServerPermission(serverData.serverPermissions, 'database.read') %}
                    {% include 'panel/server/tabs/databases/databases.html.twig' %}
                {% endif %}
                {% if server.serverProduct.backups and hasServerPermission(serverData.serverPermissions, 'backup.read') %}
                    {% include 'panel/server/tabs/backups/backups.html.twig' %}
                {% endif %}
                {% if hasServerPermission(serverData.serverPermissions, 'allocation.read') %}
                    {% include 'panel/server/tabs/network/network.html.twig' %}
                {% endif %}
                {% if hasServerPermission(serverData.serverPermissions, 'user.read') %}
                    {% include 'panel/server/tabs/users/users.html.twig' %}
                {% endif %}
                {% if server.serverProduct.schedules > 0 and hasServerPermission(serverData.serverPermissions, 'schedule.read') %}
                    {% include 'panel/server/tabs/schedules/schedules.html.twig' %}
                {% endif %}
                {% include 'panel/server/tabs/settings/settings.html.twig' %}
                {% if hasServerPermission(serverData.serverPermissions, 'activity.read') %}
                    {% include 'panel/server/tabs/activity/activity.html.twig' %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block body_javascript %}
    <script>
        function sendRequest(endpointUrl, method = 'GET', data = null) {
            let requestObject = {
                method: method,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            }

            if (data) {
                requestObject.headers['Content-Type'] = 'application/json'
                requestObject.body = JSON.stringify(data)
            }

            return fetch(endpointUrl, requestObject)
        }
    </script>
{% endblock %}
