{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{{ 'pteroca.admin.overview.title'|trans }}{% endblock %}

{% block page_actions %}
    <a class="btn btn-secondary" href="{{ path('panel') }}">
        {{ 'pteroca.system.back'|trans }}
    </a>
{% endblock %}

{% block main %}
    <div class="container pt-3">
        <div class="row">
            <div class="col-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-server"></i> {{ 'pteroca.admin.overview.servers'|trans }}</h5>
                        <div class="card-text text-small">{{ 'pteroca.admin.overview.now'|trans }}</div>
                        <div class="card-text display-5">{{ statistics.activeServers }}</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-users"></i> {{ 'pteroca.admin.overview.users'|trans }}</h5>
                        <div class="card-text text-small">{{ 'pteroca.admin.overview.last_30_days'|trans }}</div>
                        <div class="card-text display-5">{{ statistics.usersRegisteredLastMonth }}</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-money-bill"></i> {{ 'pteroca.admin.overview.payments'|trans }}</h5>
                        <div class="card-text text-small">{{ 'pteroca.admin.overview.last_30_days'|trans }}</div>
                        <div class="card-text display-5">{{ statistics.paymentsCreatedLastMonth }}</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-life-ring"></i> {{ 'pteroca.admin.overview.links'|trans }}</h5>
                        <div class="card-text text-small"><span class="fw-bolder">{{ 'pteroca.admin.overview.project_site'|trans }}:</span> <a href="https://pteroca.com/" target="_blank">pteroca.com</a></div>
                        <div class="card-text text-small"><span class="fw-bolder">{{ 'pteroca.admin.overview.documentation'|trans }}:</span> <a href="https://docs.pteroca.com/" target="_blank">docs.pteroca.com</a></div>
                        <div class="card-text text-small">
                            <span class="fw-bolder">{{ 'pteroca.admin.overview.support'|trans }}:</span> <a href="https://github.com/pteroca-com/panel/issues" target="_blank">Github Issues</a> / <a href="https://discord.gg/Gz5phhuZym" target="_blank">Discord</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-8">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">
                                    {{ 'pteroca.admin.overview.payment_overview'|trans }}
                                    <a href="{{ path('panel', { crudAction: 'index', crudControllerFqcn: 'App\\Core\\Controller\\Panel\\PaymentCrudController' }) }}" class="btn btn-primary btm-sm float-end">{{ 'pteroca.admin.overview.view_all'|trans }} <i class="fa fa-arrow-right-long"></i></a>
                                </h5>
                            </div>
                            <div class="card-body">
                                {% if not statistics.lastPayments %}
                                    <div class="alert alert-info">{{ 'pteroca.admin.overview.no_payments'|trans }}</div>
                                {% else %}
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">{{ 'pteroca.admin.overview.user'|trans }}</th>
                                            <th scope="col">{{ 'pteroca.admin.overview.amount'|trans }}</th>
                                            <th scope="col">{{ 'pteroca.admin.overview.currency'|trans }}</th>
                                            <th scope="col">{{ 'pteroca.admin.overview.status'|trans }}</th>
                                            <th scope="col">{{ 'pteroca.admin.overview.date'|trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for payment in statistics.lastPayments %}
                                            <tr>
                                                <th scope="row">{{ payment.id }}</th>
                                                <td>{{ payment.user.email }}</td>
                                                <td>{{ payment.amount|number_format(2, ',', ' ') }}</td>
                                                <td>{{ payment.currency }}</td>
                                                <td>{{ payment.status }}</td>
                                                <td>{{ payment.createdAt|date('Y-m-d H:i') }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">
                                    {{ 'pteroca.admin.overview.last_registered_users'|trans }}
                                    <a href="{{ path('panel', { crudAction: 'index', crudControllerFqcn: 'App\\Core\\Controller\\Panel\\UserCrudController' }) }}" class="btn btn-primary btm-sm float-end">{{ 'pteroca.admin.overview.view_all'|trans }} <i class="fa fa-arrow-right-long"></i></a>
                                </h5>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">{{ 'pteroca.admin.overview.user'|trans }}</th>
                                        <th scope="col">{{ 'pteroca.admin.overview.balance'|trans }}</th>
                                        <th scope="col">{{ 'pteroca.admin.overview.status'|trans }}</th>
                                        <th scope="col">{{ 'pteroca.admin.overview.date'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in statistics.lastRegisteredUsers %}
                                        <tr>
                                            <th scope="row">{{ user.id }}</th>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.balance|number_format(2, ',', ' ') }} {{ get_currency() }}</td>
                                            <td>{{ user.isVerified ? 'pteroca.admin.overview.verified'|trans : 'pteroca.admin.overview.unverified'|trans }}</td>
                                            <td>{{ user.createdAt|date('Y-m-d H:i') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa-solid fa-server"></i> {{ 'pteroca.admin.overview.system'|trans }}</h5>
                                <div class="card-text text-small">
                                    <span class="fw-bolder">PteroCA Version:</span>
                                    v{{ get_app_version() }}
                                    <span id="pteroca-version-result"></span>
                                </div>
                                <div class="card-text text-small">
                                    <span class="fw-bolder">Pterodactyl API:</span>
                                    <span class="{{ systemInformation.pterodactyl.status ? 'text-success' : 'text-danger' }}">
                                {{ systemInformation.pterodactyl.status ? '<i class="fa-solid fa-check"></i> OK' : '<i class="fa-solid fa-x"></i> Error' }}
                            </span>
                                </div>
                                <div class="card-text text-small"><span class="fw-bolder">PHP:</span> {{ systemInformation.php.version }} </div>
                                <div class="card-text text-small"><span class="fw-bolder">Database:</span> {{ systemInformation.database.version }} </div>
                                <div class="card-text text-small"><span class="fw-bolder">Web:</span> {{ systemInformation.webserver }} </div>
                                <div class="card-text text-small"><span class="fw-bolder">Host:</span> {{ systemInformation.os|join(' ') }} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const currentVersion = '{{ get_app_version() }}',
                pterocaVersionResult = document.getElementById('pteroca-version-result');

            fetch('{{ path('check_version') }}')
                .then(response => response.json())
                .then(data => {
                    pterocaVersionResult.innerHTML = ' <i class="fa fa-x"></i> {{ 'pteroca.admin.overview.update_available'|trans }}';
                    pterocaVersionResult.classList.add('text-danger');
                    pterocaVersionResult.classList.remove('text-success');
                    if (compareVersions(currentVersion, data.latestVersion.replace('v', '')) >= 0) {
                        pterocaVersionResult.innerHTML = ' <i class="fa fa-check"></i> {{ 'pteroca.admin.overview.up_to_date'|trans }}';
                        pterocaVersionResult.classList.add('text-success');
                        pterocaVersionResult.classList.remove('text-danger');
                    } else {
                        pterocaVersionResult.innerHTML = ' <i class="fa fa-x"></i> {{ 'pteroca.admin.overview.update_available'|trans }}';
                        pterocaVersionResult.classList.add('text-danger');
                        pterocaVersionResult.classList.remove('text-success');
                    }
                });
        });

        function compareVersions(version1, version2) {
            const v1Parts = version1.split('.').map(Number);
            const v2Parts = version2.split('.').map(Number);

            for (let i = 0; i < 3; i++) {
                if (v1Parts[i] > v2Parts[i]) {
                    return 1;
                } else if (v1Parts[i] < v2Parts[i]) {
                    return -1;
                }
            }

            return 0;
        }
    </script>
{% endblock %}