{% block main %}
    <div class="tab-pane" id="activity">
        <div class="row pt-3">
            <div class="col-12 mb-3">
                {% if serverData.activityLogs.items|length > 0 %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{{ 'pteroca.server.source'|trans }}</th>
                            <th>{{ 'pteroca.server.action'|trans }}</th>
                            <th>{{ 'pteroca.server.details'|trans }}</th>
                            <th>{{ 'pteroca.server.user'|trans }}</th>
                            <th>{{ 'pteroca.server.date'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in serverData.activityLogs.items %}
                            {% set logIndex = log.id is not null ? log.id : 'dto_' ~ loop.index0 ~ '_' ~ log.createdAt.timestamp %}
                            <tr>
                                <td>
                                    {% if log.sourceType.name == 'PTEROCA' %}
                                        <span class="badge bg-primary text-white">PteroCA</span>
                                    {% else %}
                                        <span class="badge bg-secondary text-white">Pterodactyl</span>
                                    {% endif %}
                                </td>
                                <td>{{ ('pteroca.server_actions.' ~ log.actionId)|trans }}</td>
                                <td>
                                    <button id="toggle-btn-{{ logIndex }}" class="btn btn-info" onclick="toggleDetails('{{ logIndex }}')">
                                        {{ 'pteroca.server.show_details'|trans }}
                                    </button>
                                    <div id="log-details-{{ logIndex }}" class="mt-3" style="display:none;">
                                        <pre>{{ log.details|raw }}</pre>
                                    </div>
                                </td>
                                <td>
                                    {% set isAdminLog = log.user.email is defined and log.user.email != server.user.email and 'ROLE_ADMIN' in log.user.roles %}
                                    {{ isAdminLog ? '<span class="badge bg-primary text-white">' ~ ('pteroca.server.admin'|trans) ~'</span>' : (log.user.email ?? '') }}
                                </td>
                                <td>{{ log.createdAt|date('Y-m-d H:i:s') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info col-6 offset-3" role="alert">
                        <i class="fas fa-info-circle pe-1"></i>
                        {{ 'pteroca.server.no_activity_logs'|trans }}
                    </div>
                {% endif %}
            </div>

            {% include 'panel/server/components/pagination.html.twig' with {
                totalItems: serverData.activityLogs.totalItems,
                currentPage: serverData.activityLogs.currentPage,
                totalPages: serverData.activityLogs.totalPages,
                url: path('panel', { routeName: 'server', id: server.pterodactylServerIdentifier }),
                anchor: '#activity'
            } %}
        </div>
    </div>
{% endblock %}


{% block body_javascript %}
    <script>
        window.showDetailsText = '{{ 'pteroca.server.show_details'|trans }}';
        window.hideDetailsText = '{{ 'pteroca.server.hide_details'|trans }}';

        function formatJSON(json) {
            try {
                var parsedJSON = JSON.parse(json);
                return JSON.stringify(parsedJSON, null, 2);
            } catch (e) {
                return json;
            }
        }

        window.toggleDetails = function(logId) {
            const detailsElement = document.getElementById('log-details-' + logId),
                buttonElement = document.getElementById('toggle-btn-' + logId);

            if (detailsElement.style.display === "none") {
                detailsElement.style.display = "block";
                buttonElement.innerText = window.hideDetailsText;
            } else {
                detailsElement.style.display = "none";
                buttonElement.innerText = window.showDetailsText;
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            {% for log in serverData.activityLogs.items %}
            {% set logIndex = log.id is not null ? log.id : 'dto_' ~ loop.index0 ~ '_' ~ log.createdAt.timestamp %}
            var logDetailsElement = document.getElementById('log-details-{{ logIndex }}');
            if (logDetailsElement) {
                logDetailsElement.innerText = formatJSON(logDetailsElement.innerText);
            }
            {% endfor %}
        });
    </script>
{% endblock %}
