{% block main %}
    <div class="tab-pane" id="activity">
        <div class="row pt-3">
            <div class="col-12 mb-3">
                {% if serverLogs.items|length > 0 %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{{ 'pteroca.server.action'|trans }}</th>
                            <th>{{ 'pteroca.server.details'|trans }}</th>
                            <th>{{ 'pteroca.server.user'|trans }}</th>
                            <th>{{ 'pteroca.server.date'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in serverLogs.items %}
                            <tr>
                                <td>{{ ('pteroca.server_actions.' ~ log.actionId)|trans }}</td>
                                <td>
                                    <button id="toggle-btn-{{ log.id }}" class="btn btn-info" onclick="toggleDetails('{{ log.id }}')">
                                        {{ 'pteroca.server.show_details'|trans }}
                                    </button>
                                    <pre id="log-details-{{ log.id }}" style="display:none;">
                                        {{ log.details|raw }}
                                    </pre>
                                </td>
                                <td>
                                    {% set isAdminLog = log.user.email != server.user.email and 'ROLE_ADMIN' in log.user.roles %}
                                    {{ isAdminLog ? '<span class="badge bg-primary text-white">' ~ ('pteroca.server.admin'|trans) ~'</span>' : log.user.email }}
                                </td>
                                <td>{{ log.createdAt|date('Y-m-d H:i:s') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-info col-6 offset-3" role="alert">
                        <i class="fas fa-info-circle pe-1"></i>
                        {{ 'pteroca.server.no_activity_logs'|trans }}
                    </div>
                {% endif %}
            </div>

            {% include 'panel/server/components/pagination.html.twig' with {
                totalItems: serverLogs.items,
                currentPage: serverLogs.currentPage,
                totalPages: serverLogs.totalPages,
                url: path('panel', { routeName: 'server', id: server.pterodactylServerIdentifier }),
                anchor: '#activity'
            } %}
        </div>
    </div>
{% endblock %}


{% block body_javascript %}
    <script>
        function formatJSON(json) {
            try {
                var parsedJSON = JSON.parse(json);
                return JSON.stringify(parsedJSON, null, 2);
            } catch (e) {
                return json;
            }
        }

        function toggleDetails(logId) {
            var detailsElement = document.getElementById('log-details-' + logId);
            var buttonElement = document.getElementById('toggle-btn-' + logId);

            if (detailsElement.style.display === "none") {
                detailsElement.style.display = "block";
                buttonElement.innerText = '{{ 'pteroca.server.hide_details'|trans }}';
            } else {
                detailsElement.style.display = "none";
                buttonElement.innerText = '{{ 'pteroca.server.show_details'|trans }}';
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            {% for log in serverLogs %}
            var logDetails = document.getElementById('log-details-{{ log.id }}');
            if (logDetails) {
                logDetails.innerText = formatJSON(logDetails.innerText);
            }
            {% endfor %}
        });
    </script>
{% endblock %}
