{% block main %}
    {% if hasServerPermission(serverData.serverPermissions, 'backup.delete') %}
    <div class="modal fade" id="deleteBackupModal" tabindex="-1" aria-labelledby="deleteBackupModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteBackupModalLabel">{{ 'pteroca.server.delete_backup'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'pteroca.server.close'|trans }}"></button>
                </div>
                <form method="post" id="delete-backup-form">
                    <input type="hidden" name="backupId" id="backupId">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="field-text">
                                    <p>{{ 'pteroca.server.delete_backup_confirmation'|trans }}</p>
                                    <p id="backup-delete-name"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'pteroca.server.close'|trans }}</button>
                        <button type="submit" class="btn btn-danger" id="delete-backup"><i class="fa-solid fa-circle-notch fa-spin d-none"></i> {{ 'pteroca.server.delete_backup'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block body_javascript %}
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            document.querySelector('#delete-backup-form').addEventListener('submit', function (event) {
                event.preventDefault()

                const form = event.target,
                    formData = new FormData(form),
                    endpointUrl = '{{ path('server_backup_delete', { id: server.id, backupId: 'BACKUP_ID' }) }}'.replace('BACKUP_ID', formData.get('backupId')),
                    submitButton = document.getElementById('delete-backup'),
                    spinner = submitButton.querySelector('i')

                submitButton.disabled = true
                spinner.classList.remove('d-none')

                sendRequest(endpointUrl, 'DELETE')
                    .then(response => {
                        if (response.ok) {
                            window.location.reload()
                        } else {
                            submitButton.disabled = false
                            spinner.classList.add('d-none')

                            alert('{{ 'pteroca.server.error_during_deleting_backup'|trans }}')
                        }
                    }).catch(() => {
                        submitButton.disabled = false
                        spinner.classList.add('d-none')

                        alert('{{ 'pteroca.server.error_during_deleting_backup'|trans }}')
                    })
            })
        })
    </script>
{% endblock %}
