{% extends '@EasyAdmin/layout.html.twig' %}

{% block content_header_wrapper %}
    <div class="dashboard-header rounded-3 p-4 mb-4 mt-4">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="bg-primary rounded-circle me-3">
                        <i class="fas fa-puzzle-piece p-3 text-white"></i>
                    </div>
                    <div>
                        <h4 class="mb-1 fw-bold">{{ 'pteroca.crud.plugin.plugin_management'|trans }}</h4>
                        <p class="text-muted mb-0">{{ 'pteroca.crud.plugin.plugin_management_description'|trans }}</p>
                    </div>
                </div>
                <div class="d-flex gap-2">
                    {% block header_custom_actions %}
                        <a href="{{ ea_url().setController('App\\Core\\Controller\\Panel\\Setting\\PluginCrudController').setAction('uploadPlugin') }}" class="btn btn-primary">
                            <i class="fa fa-upload"></i> {{ 'pteroca.plugin.upload.upload_plugin'|trans }}
                        </a>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="card border-0 shadow-sm rounded-3">
        <div class="card-body p-0">
            <table class="table table-striped datagrid mb-0">
                <thead>
                <tr>
                    <th>{{ 'pteroca.crud.plugin.name'|trans }}</th>
                    <th>{{ 'pteroca.crud.plugin.display_name'|trans }}</th>
                    <th>{{ 'pteroca.crud.plugin.version'|trans }}</th>
                    <th>{{ 'pteroca.crud.plugin.author'|trans }}</th>
                    <th>{{ 'pteroca.crud.plugin.state'|trans }}</th>
                    <th class="text-center">{{ 'pteroca.crud.plugin.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for plugin in plugins %}
                    <tr>
                        <td>{{ plugin.name }}</td>
                        <td>{{ plugin.displayName }}</td>
                        <td>{{ plugin.version }}</td>
                        <td>{{ plugin.author }}</td>
                        <td>
                            <span class="badge bg-{{ plugin.state.badgeClass }}">
                                {{ plugin.state.label|trans }}
                            </span>
                        </td>
                        <td class="text-center actions">
                            {# Detail button - using custom action #}
                            <a href="{{ ea_url({ crudAction: 'viewDetails', crudControllerFqcn: 'App\\Core\\Controller\\Panel\\Setting\\PluginCrudController', pluginName: plugin.name }) }}"
                               class="btn btn-sm btn-info"
                               title="{{ 'pteroca.crud.plugin.details'|trans }}">
                                <i class="fa fa-eye"></i>
                            </a>

                            {# Show Settings button - for plugins that have been enabled at least once (have DB entry) #}
                            {% if plugin.id is not null %}
                                <a href="{{ ea_url({ crudControllerFqcn: 'App\\Core\\Controller\\Panel\\Setting\\PluginSettingCrudController', crudAction: 'index', pluginName: plugin.name }) }}"
                                   class="btn btn-sm btn-secondary"
                                   title="{{ 'pteroca.crud.plugin.settings'|trans }}">
                                    <i class="fa fa-cog"></i>
                                </a>
                            {% endif %}

                            {# Enable button #}
                            {% if plugin.state.value == 'discovered' or plugin.state.value == 'disabled' %}
                                <a href="{{ ea_url({ crudAction: 'enablePlugin', crudControllerFqcn: 'App\\Core\\Controller\\Panel\\Setting\\PluginCrudController', pluginName: plugin.name }) }}"
                                   class="btn btn-sm btn-success"
                                   title="{{ 'pteroca.crud.plugin.enable'|trans }}">
                                    <i class="fa fa-check"></i>
                                </a>
                            {% endif %}

                            {# Disable button #}
                            {% if plugin.state.value == 'enabled' %}
                                <a href="{{ ea_url({ crudAction: 'disablePlugin', crudControllerFqcn: 'App\\Core\\Controller\\Panel\\Setting\\PluginCrudController', pluginName: plugin.name }) }}"
                                   class="btn btn-sm btn-warning"
                                   title="{{ 'pteroca.crud.plugin.disable'|trans }}">
                                    <i class="fa fa-times"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">
                            <em>{{ 'pteroca.crud.plugin.no_plugins_found'|trans }}</em>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
