{% block main %}
    <div class="col-12 col-xl-6 mb-3">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title">
                    {{ 'pteroca.server.change_server_details'|trans }}
                    {% if not server.isSuspended %}
                    <a href="#" class="float-end toggle-server-details" onclick="toggleServerDetails()">
                        <i class="fas fa-edit text-white"></i>
                    </a>
                    {% endif %}
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <div class="form-widget">
                                <label for="server-name" class="form-label">{{ 'pteroca.server.server_name'|trans }}</label>
                                <input type="text" class="form-control" id="server-name" value="{{ serverData.pterodactylServer.name }}" readonly minlength="1" maxlength="255">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-widget">
                                <label for="server-description" class="form-label">{{ 'pteroca.server.server_description'|trans }}</label>
                                <textarea class="form-control" id="server-description" rows="3" readonly minlength="0" maxlength="255">{{ serverData.pterodactylServer.description }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    {% if not server.isSuspended %}
    <script>
        let savedValues = getSavedValues();

        function getSavedValues() {
            return {
                serverName: document.getElementById('server-name').value,
                serverDescription: document.getElementById('server-description').value,
            };
        }

        function toggleServerDetails() {
            const icon = document.querySelector('.toggle-server-details i');

            if (icon.classList.contains('fa-spin')) {
                return;
            }

            const serverName = document.getElementById('server-name');
            serverName.readOnly = !serverName.readOnly;
            document.getElementById('server-description').readOnly = !document.getElementById('server-description').readOnly;

            icon.classList.toggle('fa-edit');
            icon.classList.toggle('fa-save');

            if (!serverName.readOnly) {
                serverName.focus();
            } else {
                saveServerDetails();
            }
        }

        function saveServerDetails() {
            const serverName = document.getElementById('server-name'),
                serverDescription = document.getElementById('server-description'),
                icon = document.querySelector('.toggle-server-details i');

            if (serverName.value.length === 0) {
                alert('{{ 'pteroca.server.server_name_required'|trans }}');
                serverName.value = savedValues.serverName;
                serverDescription.value = savedValues.serverDescription;
                return;
            }

            icon.classList.remove('fa-save');
            icon.classList.remove('fa-edit');
            icon.classList.add('fa-spin');
            icon.classList.add('fa-spinner');

            fetch('{{ path('server_details_update', { id: server.id }) }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    key: serverName.value,
                    value: serverDescription.value,
                })
            }).then(response => {
                if (!response.ok) {
                    alert('{{ 'pteroca.server.data_update_error'|trans }}');
                    serverName.value = savedValues.serverName;
                    serverDescription.value = savedValues.serverDescription;
                    return;
                }

                alert('{{ 'pteroca.server.data_updated_successfully'|trans }}');
            }).catch(error => {
                console.error(error);
                alert('{{ 'pteroca.server.data_update_error'|trans }}');
                serverName.value = savedValues.serverName;
                serverDescription.value = savedValues.serverDescription;
            }).finally(() => {
                icon.classList.remove('fa-spin');
                icon.classList.remove('fa-spinner');
                icon.classList.add('fa-edit');
                savedValues = getSavedValues();
            });
        }
    </script>
    {% endif %}
{% endblock %}