{% block main %}
    <div class="col-12 col-xl-6 mb-3">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title">
                    {{ 'pteroca.server.extend_server'|trans }}
                </h5>
            </div>
            <div class="card-body">
                <div class="row h-100">
                    <div class="col-12 px-4">
                        <div class="alert alert-info text-center" role="alert">
                            {% if server.getServerProduct().getSelectedPrice().getType().value != 'on_demand' %}
                                {{ 'pteroca.server.extend_server_expires'|trans({ '{{ productName }}': server.serverProduct.name, '{{ expiresAt }}': server.expiresAt|date('Y-m-d H:i') })|raw }}
                            {% else %}
                                {{ 'pteroca.server.extend_server_expires_on_demand'|trans({ '{{ productName }}': server.serverProduct.name })|raw }}<br>
                                {{ 'pteroca.server.on_demand_billing_cycle'|trans({ '{{ productPrice }}': server.getServerProduct().getSelectedPrice().getPrice(), '{{ internalCurrency }}': get_currency() }) }}
                            {% endif %}
                            <br><br>
                            {{ 'pteroca.server.extend_server_hint'|trans }}
                            {% if server.getServerProduct().getSelectedPrice().getType().value != 'on_demand' %}
                                <br>
                                {{ 'pteroca.server.extend_server_hint_2'|trans }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-8 offset-2 mt-4 px-4">
                        <a href="{{ path('panel', { routeName: 'cart_renew', id: server.id }) }}" class="btn btn-primary w-100">
                            {{ 'pteroca.server.extend_server'|trans }}
                        </a>
                    </div>
                    {% if server.getServerProduct().getSelectedPrice().getType().value != 'on_demand' %}
                        <div class="col-12">
                            <div class="row pt-4 px-4 pb-1 text-muted">
                                <div class="col-10">
                                    <label class="form-check-label" for="auto-renewal" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'pteroca.server.auto_renewal_tooltip'|trans }}">
                                        {{ 'pteroca.server.enable_auto_renewal'|trans }}
                                        {% if not isOwner %}
                                            <span class="text-muted">({{ 'pteroca.cart_configuration.owner_only'|trans }})</span>
                                        {% endif %}
                                        <i class="fa fa-question-circle"></i>
                                    </label>
                                </div>
                                <div class="col-2">
                                    <div class="form-check form-switch">
                                        <input type="checkbox" class="form-check-input" autocomplete="off" id="auto-renewal" {% if server.isAutoRenewal %}checked{% endif %} {% if not isOwner %}disabled{% endif %}>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('#auto-renewal').addEventListener('change', toggleAutoRenewal)
        })

        function toggleAutoRenewal() {
            fetch('{{ path('server_auto_renewal_toggle', { id: server.id }) }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    key: 'autoRenewal',
                    value: this.checked
                })
            }).then(response => {
                if (!response.ok) {
                    alert('{{ 'pteroca.server.data_update_error'|trans }}');
                    return;
                }

                alert('{{ 'pteroca.server.data_updated_successfully'|trans }}');
            }).catch(error => {
                console.error(error);
                alert('{{ 'pteroca.server.data_update_error'|trans }}');
            });
        }
    </script>
{% endblock %}
