{% block main %}
    <div class="col-12 col-xl-6 mb-3">
        <div class="card h-100">
            <div class="card-header">
                <h5 class="card-title">
                    {{ 'pteroca.server.extend_server'|trans }}
                </h5>
            </div>
            <div class="card-body">
                <div class="row h-100">
                    <div class="col-12">
                        <div class="alert alert-info text-center" role="alert">
                            {{ 'pteroca.server.extend_server_expires'|trans({ '{{ productName }}': server.product.name, '{{ expiresAt }}': server.expiresAt|date('Y-m-d H:i:s') })|raw }} <br><br>
                            {{ 'pteroca.server.extend_server_hint'|trans }}<br>
                            {{ 'pteroca.server.extend_server_hint_2'|trans }}
                        </div>
                    </div>
                    <div class="col-8 offset-2">
                        <a href="{{ path('panel', { routeName: 'store_server_renew', id: server.id }) }}" class="btn btn-primary w-100">
                            {{ 'pteroca.server.extend_server'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
