{% block main %}
    <div class="col-6">
        <div class="card mb-4 h-100">
            <div class="card-header">
                <h5 class="card-title">
                    {{ 'pteroca.server.reinstall_server'|trans }}
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="alert alert-warning" role="alert">
                            {{ 'pteroca.server.reinstall_server_hint'|trans }}
                        </div>
                    </div>
                    {% if availableNestEggs %}
                        <div class="col-12 mb-3">
                            <label for="reinstall-server-egg" class="form-label">{{ 'pteroca.server.select_software'|trans }}</label>
                            <select class="form-select" id="reinstall-server-egg">
                                {% for egg in availableNestEggs %}
                                    <option value="{{ egg.id }}" {% if pterodactylServer.egg == egg.id %}selected{% endif %}>
                                        {{ egg.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    <div class="col-4">
                        <button type="button" class="btn btn-danger w-100" onclick="reinstallServer()">
                            {{ 'pteroca.server.reinstall_server'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    <script>
        function reinstallServer() {
            let confirmation = confirm('Are you sure you want to reinstall this server?');
            if (!confirmation) {
                return;
            }

            const eggId = document.getElementById('reinstall-server-egg')?.value ?? 0;
            fetch('{{ path('server_reinstall', { id: server.id }) }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    key: eggId,
                    value: 0,
                })
            }).then(response => {
                if (!response.ok) {
                    alert('An error occurred while reinstalling the server.');
                } else {
                    location.reload();
                }
            })
        }
    </script>
{% endblock %}