<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ 'pteroca.dashboard.account_balance'|trans }}</h5>
        <div class="card-text">{{ app.user.balance|number_format(2, ',', ' ')}} {{ get_currency() }}</div>
        <div class="card-text small">{{ 'pteroca.dashboard.account_balance_description'|trans }}</div>
        <div class="card-action mt-2">
            <a href="{{ path('panel', { routeName: 'recharge_balance' }) }}" class="btn btn-primary">{{ 'pteroca.dashboard.account_recharge'|trans }}</a>
        </div>
    </div>
</div>