<div class="card h-100">
    {% if category.imagePath %}
        <a href="{{ path('panel', { routeName: 'store_category', id: category.id }) }}">
            <img src="{{ category.imagePath }}" class="card-img-top" alt="{{ category.name }}">
        </a>
    {% endif %}
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ category.name }}</h5>
        <p class="card-text">{{ category.description }}</p>
        <a href="{{ path('panel', { routeName: 'store_category', id: category.id }) }}" class="btn btn-primary mt-auto w-100">{{ 'pteroca.store.show_offer'|trans }}</a>
    </div>
</div>