<div class="card mb-5">
    <div class="card-body">
        <h5 class="card-title text-center">{{ 'pteroca.recharge.recharge_balance'|trans }}</h5>
        {{ form_start(form) }}
        <div class="form-group mb-3 mt-4">
            {{ form_label(form.amount, null, {'label_attr': {'class': 'form-label'}}) }}
            <div class="form-widget">
                <input type="number" id="amount" name="{{ field_name(form.amount) }}" class="form-control" value="{{ field_value(form.amount) }}" required autofocus autocomplete="name" step="0.01">
            </div>
            <input type="hidden" name="{{ field_name(form.currency) }}" value="{{ field_value(form.currency) }}" />
            {{ form_errors(form.amount) }}
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-block">{{ 'pteroca.recharge.recharge'|trans }} {{ get_currency() }}</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>