{% extends '@EasyAdmin/crud/index.html.twig' %}

{% block content_header_wrapper %}
    <div class="container-fluid mt-4">
        <!-- Custom Header Section -->
        <div class="row">
            <div class="col-12">
                <div class="bg-light rounded-3 p-4 mb-4">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="bg-primary rounded-circle me-3">
                                <i class="fas fa-credit-card p-3 text-white"></i>
                            </div>
                            <div>
                                <h4 class="mb-1 fw-bold">{{ 'pteroca.crud.payment.payments'|trans }}</h4>
                                <p class="text-muted mb-0">{{ 'pteroca.crud.payment.description'|trans }}</p>
                            </div>
                        </div>
                        <div class="d-flex gap-2">
                            {% block custom_header_actions %}
                                {% if filters|length > 0 %}
                                    <div class="datagrid-filters">
                                        {% set applied_filters = ea.request.query.all['filters']|default([])|keys %}
                                        <div class="btn-group action-filters">
                                            <a href="#" data-href="{{ ea_url().setAction('renderFilters') }}" class="btn btn-outline-secondary btn-labeled btn-labeled-right action-filters-button disabled {{ applied_filters ? 'action-filters-applied' }}" data-bs-toggle="modal" data-bs-target="#modal-filters">
                                                <i class="fa fa-filter"></i> {{ 'filter.title'|trans(domain = 'EasyAdminBundle') }}{% if applied_filters %} <span class="action-filters-button-count">({{ applied_filters|length }})</span>{% endif %}
                                            </a>
                                            {% if applied_filters %}
                                                <a href="{{ ea_url().unset('filters').setAction('index') }}" class="btn btn-outline-secondary action-filters-reset">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endblock %}
                            <a href="{{ path('panel', { routeName: 'cart_topup' }) }}" class="btn btn-primary">
                                <i class="fa fa-plus me-2"></i>{{ 'pteroca.cart_topup.title'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_actions %}{% endblock %}
