<div class="card" data-server-id="{{ server.id }}">
    {% if server.imagePath is defined and server.imagePath %}
        <a href="{% if not use_pterodactyl_panel_as_client_panel() %}{{ path('panel', { routeName: 'server', id: server.pterodactylServerIdentifier }) }}{% else %}{{ get_pterodactyl_panel_url('/server/' ~ server.pterodactylServerIdentifier) }}{% endif %}"
            target="{% if use_pterodactyl_panel_as_client_panel() %}_blank{% else %}_self{% endif %}">
            <img src="{{ server.imagePath }}" class="card-img-top" alt="{{ server.product.name }}">
        </a>
    {% endif %}
    <div class="card-body">
        <h5 class="card-title mt-2 mb-4 px-3">
            {{ server.product.name }} #{{ server.pterodactylServerIdentifier }}
            {% if not server.isSuspended %}
                <span class="badge badge-success">{{ 'pteroca.servers.active'|trans }}</span>
            {% else %}
                <span class="badge badge-danger">{{ 'pteroca.servers.suspended'|trans }}</span>
            {% endif %}
        </h5>
        <p class="card-text">
            <ul class="list-group placeholder-glow placeholder-wave">
                <li class="list-group-item">
                    <strong>{{ 'pteroca.servers.ip_address'|trans }}:</strong>
                    <span class="placeholder col-6 float-end mt-1 rounded-1" data-ip></span>
                </li>
                <li class="list-group-item">
                    <strong>{{ 'pteroca.servers.ram_memory'|trans }}:</strong>
                    <span class="placeholder col-6 float-end mt-1 rounded-1" data-limits-memory data-unit="MB"></span>
                </li>
                <li class="list-group-item">
                    <strong>{{ 'pteroca.servers.disk'|trans }}:</strong>
                    <span class="placeholder col-6 float-end mt-1 rounded-1" data-limits-disk data-unit="MB"></span>
                </li>
                <li class="list-group-item">
                    <strong>{{ 'pteroca.servers.cpu'|trans }}:</strong>
                    <span class="placeholder col-6 float-end mt-1 rounded-1" data-limits-cpu data-unit="%"></span>
                </li>
                <li class="list-group-item">
                    <strong>{{ 'pteroca.servers.valid_until'|trans }}:</strong>
                    <span class="col-6 float-end mt-1">{{ server.expiresAt|date('Y-m-d H:i') }}</span>
                </li>
            </ul>
        </p>
        <a href="{% if not use_pterodactyl_panel_as_client_panel() %}{{ path('panel', { routeName: 'server', id: server.pterodactylServerIdentifier }) }}{% else %}{{ get_pterodactyl_panel_url('/server/' ~ server.pterodactylServerIdentifier) }}{% endif %}"
           class="btn btn-primary"
           target="{% if use_pterodactyl_panel_as_client_panel() %}_blank{% else %}_self{% endif %}">
            {{ 'pteroca.servers.manage_server'|trans }}
        </a>
        <a href="{{ path('panel', { routeName: 'store_server_renew', id: server.pterodactylServerIdentifier }) }}" class="btn btn-primary">{{ 'pteroca.servers.extend'|trans }}</a>
    </div>
</div>
