{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}| {{ 'pteroca.store.title'|trans }}{% endblock %}

{% block content_title %}{{ 'pteroca.store.title'|trans }}{% endblock %}

{% block page_actions %}
    <a class="btn btn-secondary" href="{{ path('panel') }}">
        {{ 'pteroca.system.back'|trans }}
    </a>
{% endblock %}

{% block main %}
    <div class="container mt-4 category-list">
        {% if products|length > 0 %}
            {% set row = 0 %}
            {% for product in products %}
                {% set row = row + 1 %}
                {% if row == 1 or row % 3 == 1 %}
                    <div class="row">
                {% endif %}

                <div class="col-md-4 mb-4">
                    {% include 'panel/store/components/product.html.twig' with { 'product': product } %}
                </div>

                {% if row % 3 == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}


        {% if categories|length > 0 %}
            {% set row = 0 %}
            {% for category in categories %}
                {% set row = row + 1 %}
                {% if row == 0 %}
                    <div class="row">
                {% endif %}
                <div class="col-md-4 mb-4">
                    {% include 'panel/store/components/category.html.twig' with { 'category': category } %}
                </div>
                {% if row % 3 == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if categories|length == 0 and products|length == 0 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info" role="alert">
                        <i class="fa fa-exclamation-circle"></i>
                        {{ 'pteroca.store.no_categories'|trans }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
