{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}| {{ 'pteroca.store.title'|trans }} - {{ product.name }}{% endblock %}

{% block content_title %}{{ product.name }}{% endblock %}

{% block page_actions %}
    <a class="btn btn-secondary" href="{{ path('panel') }}">
        {{ 'pteroca.system.back'|trans }}
    </a>
{% endblock %}

{% block main %}
    <div class="container mt-5 product-details">
        <h1 class="product-name">{{ product.name }}</h1>
        <div class="row">
            {% if product.bannerPath %}
                <div class="col-md-12 product-image-container mt-4 mb-5" style='background: url("{{ product.bannerPath }}")'></div>
            {% else %}
                <div class="col-md-12 mt-4 mb-4"></div>
            {% endif %}
            <div class="col-md-8">
                <div class="row">
                    <div class="col-12">
                        <h2>{{ 'pteroca.product.information'|trans }}</h2>
                        <div class="row mt-4">
                            <div class="col-6">
                                <ul class="list-group">
                                    <li class="list-group-item"><strong>{{ 'pteroca.product.name'|trans }}:</strong> {{ product.name }}</li>
                                    <li class="list-group-item"><strong>{{ 'pteroca.product.ram'|trans }}:</strong> {{ product.memory }} MB</li>
                                    <li class="list-group-item"><strong>{{ 'pteroca.product.cpu'|trans }}:</strong> {{ product.cpu }}%</li>
                                    <li class="list-group-item"><strong>{{ 'pteroca.product.ports'|trans }}:</strong> {{ product.ports }}</li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="list-group">
                                    <li class="list-group-item"><strong>{{ 'pteroca.product.disk'|trans }}:</strong> {{ product.diskSpace }} MB</li>
                                    <li class="list-group-item"><strong>{{ 'pteroca.product.backups'|trans }}:</strong> {{ product.backups }}</li>
                                    <li class="list-group-item"><strong>{{ 'pteroca.product.swap'|trans }}:</strong> {{ product.swap }} MB</li>
                                    <li class="list-group-item"><strong>{{ 'pteroca.product.databases'|trans }}:</strong> {{ product.dbCount }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-5">
                        <h5>{{ 'pteroca.product.description'|trans }}</h5>
                        <p class="pt-3">{{ product.description }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>{{ 'pteroca.product.order'|trans }}</h2>
                <form action="{{ path('panel') }}">
                    <input type="hidden" name="id" value="{{ product.id }}">
                    <input type="hidden" name="routeName" value="cart_configure">
                    <div class="form-group">
                        <label for="duration">{{ 'pteroca.product.period'|trans }}</label>
                        <select id="duration" name="duration" class="form-control">
                            {% for price in product.prices %}
                                {% if price.type.value == 'static' %}
                                    <option value="{{ price.id }}" data-type="{{ price.type.value }}" data-value="{{ price.value }}" data-unit="{{ price.unit.value }}" data-price="{{ price.price }}">
                                        {{ price.value }} {{ ('pteroca.product.' ~ price.unit.value)|trans }} - {{ price.price|number_format(2, ',', ' ') }} {{ get_currency() }}
                                    </option>
                                {% elseif price.type.value == 'on_demand' %}
                                    <option value="{{ price.id }}" data-type="{{ price.type.value }}" data-value="{{ price.value }}" data-unit="{{ price.unit.value }}" data-price="{{ price.price }}">
                                        {{ 'pteroca.product.on_demand'|trans }} - {{ price.price|number_format(2, ',', ' ') }} {{ get_currency() }}/{{ 'pteroca.product.minute_short'|trans }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="egg">{{ 'pteroca.product.egg'|trans }}</label>
                        <select id="egg" name="egg" class="form-control">
                            {% for egg in eggs %}
                                <option value="{{ egg.id }}">{{ egg.name }}</option>
                            {% endfor %}
                        </select>
                        {% if product.allowChangeEgg %}
                            <small class="form-text text-muted"><i class="fas fa-info-circle"></i> {{ 'pteroca.product.egg_hint'|trans }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="price">{{ 'pteroca.product.price_calculation'|trans }}</label>

                        <div class="row">
                            <div class="col-12" data-type="perMinute">
                                <div class="row">
                                    <div class="col-6">
                                        {{ 'pteroca.product.per_minute'|trans }}
                                    </div>
                                    <div class="col-6 text-right">
                                        <span></span> {{ get_currency() }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" data-type="perHour">
                                <div class="row">
                                    <div class="col-6">
                                        {{ 'pteroca.product.per_hour'|trans }}
                                    </div>
                                    <div class="col-6 text-right">
                                        <span></span> {{ get_currency() }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" data-type="perDay">
                                <div class="row">
                                    <div class="col-6">
                                        {{ 'pteroca.product.per_day'|trans }}
                                    </div>
                                    <div class="col-6 text-right">
                                        <span></span> {{ get_currency() }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" data-type="perWeek">
                                <div class="row">
                                    <div class="col-6">
                                        {{ 'pteroca.product.per_week'|trans }}
                                    </div>
                                    <div class="col-6 text-right">
                                        <span></span> {{ get_currency() }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" data-type="perMonth">
                                <div class="row">
                                    <div class="col-6">
                                        {{ 'pteroca.product.per_month'|trans }}
                                    </div>
                                    <div class="col-6 text-right">
                                        <span></span> {{ get_currency() }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price">{{ 'pteroca.product.summary'|trans }}</label>
                        <div class="row">
                            <div class="col-12" data-type="billingPeriod">
                                <div class="row">
                                    <div class="col-6">
                                        {{ 'pteroca.product.billing_period'|trans }}
                                    </div>
                                    <div class="col-6 text-right">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 fw-semibold" data-type="totalPrice">
                                <div class="row">
                                    <div class="col-6">
                                        {{ 'pteroca.product.total_price'|trans }}
                                    </div>
                                    <div class="col-6 text-right">
                                        <span></span> {{ get_currency() }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" id="order-submit" class="btn btn-primary mt-3 w-100">
                        <i class="fa fa-shopping-basket"></i> {{ 'pteroca.product.order_now'|trans }}
                    </button>
                </form>
            </div>
        </div>
    </div>

    {% include 'panel/store/components/product_order_calculator.html.twig' %}
{% endblock %}
