<h5 class="text-center">{{ 'pteroca.recharge.transaction_history'|trans }}</h5>
<table class="table table-striped">
    <thead>
    <tr>
        <th>{{ 'pteroca.recharge.id'|trans }}</th>
        <th>{{ 'pteroca.recharge.date'|trans }}</th>
        <th>{{ 'pteroca.recharge.amount'|trans }}</th>
        <th>{{ 'pteroca.recharge.status'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for payment in payments %}
        <tr>
            <td>{{ payment.id }}</td>
            <td>{{ payment.createdAt|date('Y-m-d H:i') }}</td>
            <td>{{ (payment.amount / 100)|number_format(2) }} {{ payment.currency|upper }}</td>
            <td>{{ ('pteroca.recharge.transaction_' ~ payment.status)|trans }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4" class="text-center">{{ 'pteroca.recharge.no_transaction'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>