<tr data-server-id="{{ server.id }}">
    <td>
        {% if not server.isSuspended %}
            <span class="badge badge-success">{{ 'pteroca.servers.active'|trans }}</span>
            <span class="badge placeholder" data-state></span>
        {% else %}
            <span class="badge badge-warning">{{ 'pteroca.servers.suspended'|trans }}</span>
        {% endif %}
    </td>
    <td>
        <strong>{{ server.name ?: server.serverProduct.name }} #{{ server.pterodactylServerIdentifier }}</strong>
    </td>
    <td>
        <span class="placeholder col-8 rounded-1" data-ip></span>
    </td>
    <td>
        <span class="placeholder col-6 rounded-1" data-limits-memory data-unit="MB"></span>
    </td>
    <td>
        <span class="placeholder col-6 rounded-1" data-limits-disk data-unit="MB"></span>
    </td>
    <td>
        <span class="placeholder col-6 rounded-1" data-limits-cpu data-unit="%"></span>
    </td>
    <td>
        {{ server.expiresAt|date('Y-m-d H:i') }}
    </td>
    <td>
        <div class="btn-group" role="group">
            {% if not server.isSuspended %}
                <a href="{% if not use_pterodactyl_panel_as_client_panel() %}{{ path('panel', { routeName: 'server', id: server.pterodactylServerIdentifier }) }}{% else %}{{ get_pterodactyl_panel_url('/server/' ~ server.pterodactylServerIdentifier) }}{% endif %}"
                   class="btn btn-primary btn-sm"
                   target="{% if use_pterodactyl_panel_as_client_panel() %}_blank{% else %}_self{% endif %}"
                   title="{{ 'pteroca.servers.manage_server'|trans }}">
                    <i class="fas fa-cogs fa-xs"></i>
                </a>
            {% endif %}
            <a href="{{ path('panel', { routeName: 'cart_renew', id: server.id }) }}" 
               class="btn btn-primary btn-sm"
               title="{{ 'pteroca.servers.extend'|trans }}">
                <i class="fas fa-sync fa-xs"></i>
            </a>
        </div>
    </td>
</tr>
