{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{{ 'pteroca.store.title'|trans }} - {{ category.name }}{% endblock %}

{% block page_actions %}
    <a class="btn btn-secondary" href="{{ path('panel') }}">
        {{ 'pteroca.system.back'|trans }}
    </a>
{% endblock %}

{% block main %}
    <div class="container mt-4 product-list">
        {% if products|length > 0 %}
            {% set row = 0 %}
            {% for product in products %}
                {% set row = row + 1 %}
                {% if row == 0 %}
                    <div class="row">
                {% endif %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ product.imagePath ?? asset('/assets/img/placeholders/300x150.png') }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <a href="{{ path('panel', { routeName: 'store_product', id: product.id }) }}" class="btn btn-primary w-100">{{ 'pteroca.store.order'|trans }}</a>
                        </div>
                    </div>
                </div>
                {% if row % 3 == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info" role="alert">
                        <i class="fa fa-exclamation-circle"></i>
                        {{ 'pteroca.store.no_products'|trans }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
