{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{{ product.name }}{% endblock %}

{% block page_actions %}
    <a class="btn btn-secondary" href="{{ path('panel') }}">
        {{ 'pteroca.system.back'|trans }}
    </a>
{% endblock %}

{% block main %}
    <div class="container mt-5 product-details">
        <h1 class="product-name">{{ product.name }}</h1>
        <div class="row">
            {% if product.imagePath %}
                <div class="col-md-12 product-image-container mt-4 mb-5" style='background: url("{{ product.bannerPath }}")'></div>
            {% else %}
                <div class="col-md-12 mt-4 mb-4"></div>
            {% endif %}
            <div class="col-md-8">
                <h2>{{ 'pteroca.product.information'|trans }}</h2>
                <div class="row mt-4">
                    <div class="col-6">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>{{ 'pteroca.product.name'|trans }}:</strong> {{ product.name }}</li>
                            <li class="list-group-item"><strong>{{ 'pteroca.product.description'|trans }}:</strong> {{ product.description }}</li>
                            <li class="list-group-item"><strong>{{ 'pteroca.product.ram'|trans }}:</strong> {{ product.memory }} MB</li>
                            <li class="list-group-item"><strong>{{ 'pteroca.product.cpu'|trans }}:</strong> {{ product.cpu }}%</li>
                        </ul>
                        {% if not isProductAvailable %}
                            <div class="mt-5">
                                <div class="alert alert-warning" role="alert">
                                    <i class="fa fa-exclamation-triangle me-1"></i>
                                    {{ 'pteroca.product.not_available'|trans }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>{{ 'pteroca.product.disk'|trans }}:</strong> {{ product.diskSpace }} MB</li>
                            <li class="list-group-item"><strong>{{ 'pteroca.product.backups'|trans }}:</strong> {{ product.backups }}</li>
                            <li class="list-group-item"><strong>{{ 'pteroca.product.swap'|trans }}:</strong> {{ product.swap }} MB</li>
                            <li class="list-group-item"><strong>{{ 'pteroca.product.databases'|trans }}:</strong> {{ product.dbCount }}</li>
                        </ul>
                        {% if app.user.balance < product.price %}
                            <div class="mt-5">
                                <div class="alert alert-warning" role="alert">
                                    <i class="fa fa-exclamation-triangle me-1"></i>
                                    {{ 'pteroca.product.not_enough_balance'|trans }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>{{ 'pteroca.product.order'|trans }}</h2>
                <form action="{{ path('panel', { routeName: 'store_product_buy' }) }}" method="post">
                    <input type="hidden" name="product" value="{{ product.id }}">
                    <div class="form-group">
                        <label for="duration">{{ 'pteroca.product.period'|trans }}</label>
                        <select id="duration" name="duration" class="form-control">
                            <option value="30">30 {{ 'pteroca.product.days'|trans }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="egg">{{ 'pteroca.product.egg'|trans }}</label>
                        <select id="egg" name="egg" class="form-control">
                            {% for egg in eggs %}
                                <option value="{{ egg.id }}">{{ egg.name }}</option>
                            {% endfor %}
                        </select>
                        {% if product.allowChangeEgg %}
                            <small class="form-text text-muted"><i class="fas fa-info-circle"></i> {{ 'pteroca.product.egg_hint'|trans }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="price">{{ 'pteroca.product.price'|trans }}</label>
                        <input type="text" id="price" class="form-control" value="{{ product.price|number_format(2, ',', ' ') }} {{ get_currency() }}" disabled>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 w-100" {% if not isProductAvailable or app.user.balance < product.price %}disabled{% endif %}><i class="fa fa-shopping-basket"></i> {{ 'pteroca.product.order_now'|trans }}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
