{% extends 'base.html.twig' %}

{% block body_class 'page-login' %}
{% block title %}{{ get_title() }} | {{ 'pteroca.recovery.title'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ template_asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ template_asset('css/panel.css?v=' ~ get_app_version()) }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% include '@EasyAdmin/flash_messages.html.twig' %}

                <div class="login-wrapper">
                    <header class="main-header">
                        <div id="header-logo">
                            <div class="logo">
                                <img src="{{ get_logo() }}" alt="{{ get_title() }}" class="panel-login-logo">
                            </div>
                        </div>
                    </header>
                    <section class="content">
                        <div class="login-title">
                            {{ 'pteroca.recovery.title'|trans }}
                        </div>
                        {% if error|default(false) %}
                            <div class="w-100 alert alert-danger rounded mb-3">
                                <i class="fas fa-times-circle mr-1"></i>
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}

                        {{ form_errors(requestForm) }}

                        {{ form_start(requestForm) }}
                        <div class="form-group">
                            <label class="form-control-label required" for="email">{{ field_label(requestForm.email) }}</label>
                            <div class="form-widget">
                                <input type="email" id="email" name="{{ field_name(requestForm.email) }}" class="form-control" value="{{ field_value(requestForm.email) }}" required autofocus autocomplete="email">
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-block">{{ 'pteroca.recovery.submit'|trans }}</button>
                        </div>
                        {{ form_end(requestForm) }}
                    </section>
                    <div class="col-12 text-center mt-2 powered-by">
                        Powered by <a href="https://pteroca.com" target="_blank">Pteroca v{{ get_app_version() }}</a> &copy; {{ 'now'|date('Y') }}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
