{% trans_default_domain 'messages' %}
{% include 'email/header.html.twig' %}
<p>
    {{ 'pteroca.email.recovery.we_received_request'|trans }}<br>
    {{ 'pteroca.email.recovery.click_link_to_reset'|trans }}
</p>
<p>
    <a href="{{ recoveryUrl }}" class="button">{{ 'pteroca.email.recovery.reset_password'|trans }}</a>
</p>
<p>
    {{ 'pteroca.email.recovery.link_valid'|trans }}<br>
    {{ 'pteroca.email.recovery.if_not_requested'|trans }}
</p>
{% include 'email/footer.html.twig' %}